
@{
    ViewBag.Title = "DatosEscolares";
}

<h2>Datos Escolares</h2>
<hr />
<div>
    <div class="row">
        <label class="col-lg-2 text-lg-right">Nombre</label>
        <div class="col-lg-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <br />
    <div class="row">
        <label class="col-lg-2 control-label text-lg-right">Nivel Estudios</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="">
        </div>
        <label class="col-lg-2 control-label text-lg-right">Carrera</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    <br />
    <div class="row">
        <label class="col-lg-2 control-label text-lg-right">Nombre Escuela</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="">
        </div>
        <label class="col-lg-2 control-label text-lg-right">Fecha Inicio</label>
        <div class="col-lg-4">
            <input type="date" name="Fecha">
        </div>
    </div>
    <br />
    <div class="row">
        <label class="col-lg-2 control-label text-lg-right">Situación Academica</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="">
        </div>
        <label class="col-lg-2 control-label text-lg-right">Fecha Concluyó</label>
        <div class="col-lg-4">
            <input type="date" name="Fecha">
        </div>
    </div>
    <br />

    <div class="row">
        <label class="col-lg-2 control-label text-lg-right">Número Cédula</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    <br />
    <div class="col-lg-11">
        <button type="button" class="btn btn-facebook float-lg-right">Guardar</button>
    </div>
</div>
