@{
    ViewBag.Title = "Home Page";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">BIENVENIDO</h1>
</div>
<div class="align-content-center">
    <img class="img-fluid" src="~/Imagenes/Index/RH.jpg" />
</div>